body {
  background-color: tan;
}

h1 {
  text-align: center;
}

header {
  font-size: 1.2em;
  font-weight: 700;
}

.important {
  font-size: 1em;
  font-weight: 600;
}

.plain {
  list-style-type: none;
}

.center {
  text-align: center;
}

footer {
  text-align: center;
}
